DB_HOST=212.85.3.45
DB_NAME=u241748142_auvvo
DB_USER=u241748142_auvvo
DB_PASS=6BgE8R4?HT:+

APP_BASE_URL=https://auvvo.com
# Se o site não estiver na raiz do host (ex. /auvvov2/...), igual ao PHP:
# APP_HTTP_PREFIX=auvvov2
EVOLUTION_API_URL=https://evolution-go-euqs.srv1656135.hstgr.cloud
EVOLUTION_API_KEY=HqNbkNK6geOrfwSvS0QHLLvEZrPrjdFa

WORKER_POLL_MS=300
WORKER_AI_MAX_ATTEMPTS=3
WEBHOOK_DEBOUNCE_SEC=4
CAMPAIGN_MSGS_PER_MINUTE=12
WORKER_HMAC_SECRET=AUVVO-INTERNAL-WORKER-V1